.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-align .center{
    width: 520px;
}

.mat-form-field{
    width: 100%;
}

button{
    margin-right: 15px;
}

/* Sidenav */

.mat-sidenav{
    min-width: 240px;
}

.mat-sidenav-content{
    min-height: 560px;
}

.card-list{
    margin-bottom: 20px;
}
.mat-row:nth-child(even){
    background-color:rgba(0,0,0,.05);
    }

.mat-row:nth-child(odd){
    background-color:rgba(0,0,0,.02);
}
.mat-table .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.mat-table .mat-form-field-label-wrapper { top: -1.5em; }
.mat-table .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.mat-table .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0;
    width: 120px;
    padding-bottom: 10px;
}
.mat-header-cell{
    font-size: 14px;
    font-weight: bold;
}
.mat-table .mat-header-cell, .mat-table .mat-cell {
    padding-right: 8px;
    padding-top: 8px;
}


