<h3>Add Particular</h3>

<form [formGroup]="particularForm" (ngSubmit)="addParticular()">
    <mat-form-field class="form-group" appearance="outline">
        <input type="text" placeholder="Select User" aria-label="Assignee" matInput [formControl]="myControl"/>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.firstname}}, {{option.address2}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
        <mat-label>Particular Name</mat-label>
        <input formControlName="particular_name" matInput type="text" name="particular-name" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
        <mat-label>Amount</mat-label>
        <input formControlName="amount" matInput type="number" name="amount" autocomplete="off">
    </mat-form-field>

    <mat-form-field class="form-group" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusDetails" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Save</button>
    <button mat-button cdkFocusInitial>Cancel</button>
</form>