<div class="center-align">
  <div class="center">
    <h2 class="example-h2">Add User deatils</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="firstName" autocomplete="off" required>
        <mat-placeholder>User Name</mat-placeholder>
        <mat-error *ngIf="uForm.firstName.invalid && uForm.firstName.touched">
          <span *ngIf="uForm.firstName.errors.required">Please enter the Firstname</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Father name</mat-label>
        <input matInput type="text" formControlName="lastName" autocomplete="off" required>
        <mat-placeholder>Last Name</mat-placeholder>
        <mat-error *ngIf="uForm.lastName.invalid && uForm.lastName.touched">
          <span *ngIf="uForm.lastName.errors.required">Please enter the Lastname</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address1" placeholder="Enter Address"></textarea>
        <mat-error *ngIf="uForm.address1.invalid && uForm.address1.touched">
          <span *ngIf="uForm.address1.errors.required">Please enter Address</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <mat-label>Village</mat-label>
        <input matInput type="text" formControlName="address2" autocomplete="off" required>
        <mat-placeholder>Last Name</mat-placeholder>
        <mat-error *ngIf="uForm.address2.invalid && uForm.address2.touched">
          <span *ngIf="uForm.address2.errors.required">Please enter Village</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" appearance="outline">
        <!-- <input matInput type="text" formControlName="district" autocomplete="off" required>
          <mat-placeholder>District</mat-placeholder> -->
        <mat-label>District</mat-label>
        <mat-select formControlName="district">
          <mat-option>Please select District</mat-option>
          <mat-option *ngFor="let food of districtList" [value]="food">
            {{food}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="uForm.district.invalid && uForm.district.touched">
          <span *ngIf="uForm.district.errors.required">Please enter District</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="outline">
        <mat-label>State</mat-label>
        <input matInput type="text" formControlName="state" autocomplete="off" required>
        <mat-placeholder>State</mat-placeholder>
        <mat-error *ngIf="uForm.state.invalid && uForm.state.touched">
          <span *ngIf="uForm.state.errors.required">Please enter State</span>
        </mat-error>
      </mat-form-field>



      <!-- <mat-form-field class="example-full-width">
          <input matInput maxlength="30" autocomplete="off" formControlName="email">
          <mat-placeholder class="login-font">Email</mat-placeholder>

          <mat-error *ngIf="uForm.email.errors && uForm.email.touched">
            <mat-error *ngIf="uForm.email.errors.required">
              EmailId is required
            </mat-error>
            <mat-error *ngIf="uForm.email.errors.pattern">
              Invallid Email
            </mat-error>
          </mat-error>
        </mat-form-field> -->

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input matInput type="number" placeholder="Placeholder" autocomplete="off" id="contactnumber" formControlName="contactnumber">
        <mat-error *ngIf="uForm.contactnumber.errors && uForm.contactnumber.touched">
          <mat-error *ngIf="uForm.contactnumber.errors.required">Contact Number is required</mat-error>
          <mat-error *ngIf="uForm.contactnumber.errors.minlength">Contact Number must be minimun 10 charcaters
          </mat-error>
          <mat-error *ngIf="uForm.contactnumber.errors.maxlength">Contact Number must be maximum 15 charcaters
          </mat-error>
        </mat-error>
      </mat-form-field>
      <button [disabled]="userForm.invalid" type="submit" mat-raised-button color="primary">Submit</button>
      <button type="reset" id="reset" mat-raised-button color="primary">Reset</button>
    </form>
  </div>
</div>