.mat-form-field-suffix .mat-icon{
    color: rgba(0,0,0,.7)
}

.filter-head, .filter-input,.mat-header-cell{
    width:100%;
    display: inline-block;
}
.filter-input{
    height: 40px;
}
.mat-header-cell{
    padding-top: 8px;
    padding-bottom: 8px;
}
a {
    text-decoration: none;
    color: #3f51b5;
}

.mat-table .mat-column-options {
    flex: 0 0 170px;
  }
